body{

  font-family: "Work Sans", sans-serif;

}

*{
    margin: 0;
    padding: 0;
}
.header{
    height: 1222px;
    width: 100%;
    max-width: 1920px;
    background: rgba(255, 144, 14, 0.1);
    
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
   
}
.nav-head{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}

.nav ul li{
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-text{
    
    width: 100%;
    max-width: 863px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-1{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25PX;
}
.banner-text h1{
    color: rgb(19, 19, 19);
    font-size: 34px; 
    text-align: center;
}
.banner-text p{
    margin-top: 0px;
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.banner{
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px 0;
}
.b-img{
    margin-top: 70px;
}


.feature-conteinar{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    border-radius: 8px;
}

.feature-img{
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}


.feature-img img{
    width: 342px;
    height: 342px;
    border-radius: 5px;
    
}


.feature-text h3{
    font-size: 45px;
    font-weight: 700;
}

.s-1{
  color: rgb(114, 114, 114);
}
.s-2{
    color: rgb(19, 19, 19);
}

.s-3{
   color: rgb(255, 144, 14); 
}

.feature-text p{
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}




.love-feature{
    width: 80%;
    height: 1059px;
    
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
}
.love-feature-text{
    
    height: 982px;
    width: 50%;

}

.love-feature-img{
    
    height: auto;
    width: 50%;
}
.love-maintext{
    width: 80%;
    padding-left: 20px;
}
.love-feature-img img{
    height: 94%;
    width: 100%;
}
.love-maintext h1{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
}
.love-feature p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 17px;
}
.love-contein{
    
    width: 80%;
    padding-left: 20px;
    border-radius: 8px;
    height: 171px;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.love-contein h5{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.love-contein p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}


.love-text-conteinar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    
}
.ex-b{
    position: absolute;
    left: 43%;
    top:2959px;
    width: 342px;
    height: 200px;
    border-radius: 8px;

   background: rgb(255, 144, 14);
}
.ex-text{
    
    margin: 46px 42px 46px 42px;
}
.ex-text h1{
    color: white;
    font-size:65px;
    text-align: center;
}
.ex-text p{
    text-align: center;
    color: white;
    margin-top: 2px;
}
@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
        align-items: center;
        
    }
    .b-img img{
        width: 100%;
    }
    .nav ul{
        margin-top: 10px;
        flex-direction: column;
    }
    
    .header{
        height: auto;
        width: 100%;
        
    }


    .feature-conteinar{
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
    }
    .feature-img{
        grid-template-columns: repeat(2,1fr);
    }
    .feature-img img{
        width: 100%;
        height: 100%;
    }

    .feature-text h3 {
        font-size: 35px;
        font-weight: 700;
    }
    .ll{
        
        margin-left: 70px ;

    }





    .love-feature{
        flex-direction: column;
        align-items: center;
        
    }
    .love-feature-text {
        width: 100%;
        text-align: center;
    }
    .love-feature-img {
        width: 100%;
        margin-top: 260px;

    }
    .love-text-conteinar{
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .love-contein{
        width: 100%;
    }
    .love-maintext h1{
        font-size: 20px;
    }




    
    
}

